#CMake(builded gtest)

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/lsa.o
build/lsall
build/main.o
build/test

#Testing
emoji_ext.json

